
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="vendor/favicon.ico">
    <title>Calculadora de interés compuesto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .form1{
            width:18px;
            height:18px;
            background:#FFFFFF;
            font-family:arial;
            font-weight:bold;
            color:#EEEEEE;
            border-radius: 50%;
        }
        .form2{
            width:18px;
            height:18px;
            background:#328CCA;
            font-family:arial;
            font-weight:bold;
            color:#EEEEEE;
            border-radius: 50%;
        }
        .form3{
            width:18px;
            height:18px;
            background:#41C7C8;
            font-family:arial;
            font-weight:bold;
            color:#EEEEEE;
            border-radius: 50%;
        }
        .bg-dark {
            background-color: #01002A !important;
            color: #FFFFFF;
            font-size: 12px;
        }
        td {
            padding: 5px;
        }
        .col-md-5 {
            padding-right: 25px;
        }
        .col-md-7 {
            padding-left: 25px;
        }
    </style>
</head>
<body class="bg-dark">
<div class="container" id="app">
    <div class="py-5 text-center">
        <h2>Calculadora de Interés</h2>
        <p class="lead">
            Ingrese los datos para emular los intereses generados.
        </p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row" >
                <div class="col-md-12" style="font-weight: bold">
                    <label style="margin-right: 50px;">
                        <input type="radio" name="grad" value="yes" />&nbsp;&nbsp;DÓLARES
                    </label>
                    <label>
                        <input type="radio" name="grad" value="not" />&nbsp;&nbsp;SOLES
                    </label>
                </div>



                <div class="col-md-4 mb-3">
                    <label>Monto Inicial</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">S/</span>
                        </div>
                        <input type="number" class="form-control" v-model="amount_initial">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Interés Anual</label>
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="interest">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Años</label>
                    <input type="number" class="form-control" v-model="years">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Monto de aporte</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">S/</span>
                        </div>
                        <input type="number" class="form-control" v-model="amount_regular">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Periodos de aporte</label>
                    <select class="custom-select d-block w-100" v-model="period">
                        <option v-for="option in periods" :value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success btn-lg btn-block" type="button" @click="generateData()">
                Calcular intereses
            </button>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-8"  v-show="showInformation">
                    <h6>
                        Después de {{ years }} año(s), tu inversión alcanzaría la suma de
                        S/ {{ parseFloat(summary.total).toFixed(2) }}
                    </h6>
                    <p>Esto se compone de:</p>
                    <table>
                        <tr>
                            <td style="width: 40px"><div class="form3"></div></td>
                            <td style="width: 200px">Inversión inicial</td>
                            <td>S/ {{ parseFloat(summary.contribution_initial).toFixed(2) }}</td>
                        </tr>
                        <tr>
                            <td><div class="form2"></div></td>
                            <td>Aporte regular</td>
                            <td>S/ {{ parseFloat(summary.contribution_regular_total).toFixed(2) }}</td>
                        </tr>
                        <tr>
                            <td><div class="form1"></div></td>
                            <td>Interés ganado</td>
                            <td>S/ {{ parseFloat(summary.interest_total).toFixed(2) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <div id="chartContainerPie" style="height: 200px; width: 100%;"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-12">
                    <div id="chartContainerBar" style="height: 250px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© Todos los derechos reservados</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            showInformation: false,
            amount_initial: 10000,
            amount_regular: 100,
            interest: 10,
            years: 10,
            period: 12,
            periods: [
                { text: 'Mensual', value: 12 },
                { text: 'Trimestral', value: 4 },
                { text: 'Cuatrimestral', value: 3 },
                { text: 'Bimestral', value: 2 },
                { text: 'Anual', value: 1 }
            ],
            summary: {}
        },
        mounted() {
            this.generateData();
        },
        methods: {
            generateData: function () {
                // Visualizar resumen
                this.showInformation = true;
                // Año Inicial
                let date = moment().format('YYYY');
                // Interés en %
                let interest =  parseInt(this.interest) / 100;
                // Contribución total
                let contribution_regular_total = parseInt(this.period) * parseInt(this.amount_regular) * parseInt(this.years);
                // Información para los gráficos
                let information_for_chart_bar_capital = [];
                let information_for_chart_bar_contribution = [];
                let information_for_chart_bar_interest = [];
                let information_for_chart_pie = [];

                //
                let chart_capital = parseInt(this.amount_initial);
                let chart_contribution = parseInt(this.period) * parseInt(this.amount_regular);
                let chart_interest = chart_capital * interest;
                let summary_interest = 0;

                let i;
                for (i = 0; i < this.years; i++) {
                    let date_for_bar = new Date(date++,0);
                    information_for_chart_bar_capital.push({
                        y: parseInt(chart_capital),
                        x: date_for_bar,
                    });
                    information_for_chart_bar_contribution.push({
                        y: parseInt(chart_contribution),
                        x: date_for_bar,
                    });
                    information_for_chart_bar_interest.push({
                        y: parseInt(chart_interest),
                        x: date_for_bar,
                    });
                    summary_interest += chart_interest;
                    chart_capital += chart_interest + chart_contribution;
                    chart_interest = chart_capital * interest;
                }

                information_for_chart_pie = [
                    { y: this.amount_initial, label: parseFloat(this.amount_initial).toFixed(2) },
                    { y: contribution_regular_total, label:  parseFloat(contribution_regular_total).toFixed(2) },
                    { y: summary_interest, label: parseFloat(summary_interest).toFixed(2) },
                ];

                this.summary = {
                    contribution_initial: this.amount_initial,
                    contribution_regular_total: contribution_regular_total,
                    interest_total: summary_interest,
                    total: summary_interest + parseInt(this.amount_initial) + contribution_regular_total
                };

                var chartBar = new CanvasJS.Chart("chartContainerBar", {
                    backgroundColor: "transparent",
                    animationEnabled: true,
                    dataPointMaxWidth: 40,
                    axisX: {
                        interval: 1,
                        intervalType: "year",
                        labelFontColor: "#FFFFFF",
                        gridThickness: 0,
                        tickLength: 5,
                        lineThickness: 0,
                    },
                    axisY:{
                        gridThickness: 1,
                        tickLength: 10,
                        lineThickness: 4,
                        labelFontColor: "#FFFFFF",
                        valueFormatString:"S/ #0",
                    },
                    toolTip: {
                        shared: true,
                        content: toolTipContent
                    },
                    data: [
                        {
                            type: "stackedColumn",
                            showInLegend: false,
                            color: "#41C7C8",
                            name: "Capital inicial",
                            dataPoints: information_for_chart_bar_capital
                        },
                        {
                            type: "stackedColumn",
                            showInLegend: false,
                            name: "Aporte periódico",
                            color: "#328CCA",
                            dataPoints: information_for_chart_bar_contribution
                        },
                        {
                            type: "stackedColumn",
                            showInLegend: false,
                            name: "Rentabilidad esperada",
                            color: "#FFFFFF",
                            dataPoints: information_for_chart_bar_interest
                        }
                    ]
                });
                chartBar.render();
                function toolTipContent(e) {
                    var str = "";
                    var total = 0;
                    var str2, str3;
                    for (var i = 0; i < e.entries.length; i++){
                        var  str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\"> "+e.entries[i].dataSeries.name+"</span>: S/ <strong>"+e.entries[i].dataPoint.y+"</strong><br/>";
                        total = e.entries[i].dataPoint.y + total;
                        str = str.concat(str1);
                    }
                    str2 = "<span style = \"color:DodgerBlue;\"><strong>"+(e.entries[0].dataPoint.x).getFullYear()+"</strong></span><br/>";
                    total = Math.round(total * 100) / 100;
                    str3 = "<span style = \"color:Tomato\">Total:</span><strong>S/ "+total+"</strong><br/>";
                    return (str2.concat(str)).concat(str3);
                }

                CanvasJS.addColorSet("requiredColors", [
                    "#41C7C8",
                    "#328CCA",
                    "#FFFFFF",
                ]);
                var chartPie = new CanvasJS.Chart("chartContainerPie", {
                    backgroundColor: "transparent",
                    colorSet: "requiredColors",
                    animationEnabled: true,
                    data: [{
                        indexLabelPlacement: "inside",
                        indexLabelFontSize: 10,
                        indexLabelFontColor: "black",
                        type: "pie",
                        startAngle: 25,
                        toolTipContent: "S/ {y}",
                        dataPoints: information_for_chart_pie
                    }]
                });
                chartPie.render();
            }
        }
    })
</script>
</body>
</html>
